.contener_um{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
    background:#F9F9F9;
}

.titulo_um{
    font-size: 40px;
    font-weight: 600;
    font-family: 'Montserrat';
    color:#272727;
    margin-right: 48px;
}

#botao{
    margin-right: 40px;
}

@media only screen and (max-width: 600px){
    .img-principal{
        display: none;
    }

    .contener_um{
        padding-left: 24px;
        padding-right: 24px;
    }

    .titulo_um{
        font-size: 24px;
        margin-right: 0;
        margin-bottom: 24px;
    }

    #botao{
        margin-right: 21px;
    }
}