.rodape{
    margin-top: 90px;
    margin-bottom: 90px;
    margin-left: 80px;
    display: flex;

}

.listas{
    display: flex;
    align-items: center;
}

.lista_um{
    margin-right: 117px;
    margin-left: 69px;
}

.lista_doi{
    margin-right: 135px;
}

.titulo_lista{
    font-weight: 600;
    font-size: 18px;
}

.logo-2{
    background-color: black;
}

@media only screen and (max-width: 600px){
    .rodape{
        margin-left: 24px;
        margin-right: 24px;
        padding-top: 38px;
        display: grid;
    }

    .listas{
        display: grid;
        justify-content: center;
        align-content: center;
    }

    .lista_um{
        margin-left: 0;

    }

    .lista_doi{
        margin: 0;
    }


    .logo-2{
        display: none;
    }

}