body{
    font-family: 'Montserrat', sans-serif;
}

.contener_dois{
    background: #F9F9F9;
    padding-bottom: 47px;
    padding-top: 55px;
}

.imgs{
    margin-left: 80px;
    margin-right: 80px;
}

.titulo_dois{
    margin-bottom: 19px;
    font-size: 32px;
}

.paragrafo{
    color:#797979;
   margin-bottom: 32px;
}

.cx{
    display: flex;
    align-items: center;
    margin-left: 80px;
    margin-right: 80px;
}

.contener_tre{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 78px;
    margin-bottom: 80px;
}

.cx_conteudo{
    display: flex;
    flex-direction: column;
    justify-content:start;
    margin-top: 269px;
    margin-left: 106px;
    margin-bottom: 24px;
}

.link{
    color: #272727;
    margin-bottom: 223px;
}

.img-1{
    margin-left: 50px;
   filter: drop-shadow(-50px -50px #272727)
}